.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #FFE0B2;
    font-family: Monstrate;
    height: 25dvh;
    border-left: 8px solid;
    border-bottom: 3px solid;
    border-top: none;
}

.status {
    text-transform: uppercase;
}