// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@font-face {
    font-family: "Monstrate";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    font-family: Monstrate;
}